<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Clientes</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']">
        Novo Cliente
      </button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Codigo</th>
          <th>Telefone</th>
          <th><span class="float-right">Ações</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of (clientes$ | async)?.clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.codigo }}</td>
          <td>{{ cliente.telefone }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(course.id)">
                Atualizar
              </button>
              <button class="btn btn-outline-danger mb-1 btn-sm"
                (click)="onDelete(cliente)">
                  Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover esse cliente?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">
      Nao
    </button>
  </div>
</ng-template>
